{% extends "admin/base_site.html" %}

{% block content %}
    <p>Are you sure you want to publish the following quizzes?</p>
    <ul>
        {% for quiz in quizzes %}
            <li>{{ quiz.title }}</li>
        {% endfor %}
    </ul>
    <form action="" method="post">
        {% csrf_token %}
        {% for quiz in quizzes %}
            <input type="hidden" name="_selected_action" value="{{ quiz.pk }}">
        {% endfor %}
        <input type="hidden" name="action" value="publish_quiz">
        <input type="hidden" name="post" value="yes">
        <input type="submit" value="Yes, I'm sure">
        <a href="{{ request.get_full_path }}" class="button cancel-link">No, take me back</a>
    </form>
{% endblock %}